---
const year = new Date().getFullYear();
---

<div
  class="slide-enter flex w-full justify-center pb-12 text-center md:col-span-6 print:hidden"
>
  <div class="flex items-center space-x-0 text-xs opacity-25">
    <span class="gap-1 text-center no-underline">
      <p class="mt-3 text-center font-mono">
        Made by
        <a class="font-black" href="https://github.com/MiraHikari">
          <span class="underline">MiraHikari</span>
        </a>
        with ❤️
      </p>
      <p class="mt-3 text-center">© {year}. All rights reserved.</p>
    </span>
  </div>
</div>
